<div class="container">
    <h1 *ngIf="client.id == null">Crear cliente</h1>
    <h1 *ngIf="client.id != null">Modificar cliente</h1>

    <form>
        
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="text" matInput placeholder="Identificador"[(ngModel)]="client.id" name="id" disabled>
        </mat-form-field>
        <span *ngIf="displayErrorName">Por favor, introduzca un nombre no repetido🥺</span>
        <mat-form-field>            
            <mat-label>Nombre</mat-label>
            <input type="text" matInput placeholder="Nombre del cliente" [(ngModel)]="client.name" name="name" required>
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>
